body {
  background: #2c2f33;
  margin: 0;
  color: #8c8c8c;
  font-family: "Roboto", sans-serif;
}

span {
  background: #23272a;
  padding: 4px;
}

.content {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-top: 150px;

  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.avi {
  border-radius: 50%;
  width: 130px;
  border: 3px solid #fff;
}

h1 {
  color: #d98f8f;
}

.icon {
  color: #b05d5d;
}

.btn {
  background: #23272a;
  padding: 10px;
  color: #8c8c8c;
  border-radius: 3px;
  transition: 0.4s;
}

.btn:hover {
  background: #d98f8f;
  color: #fff;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #8c8c8c;
}
